<p id="notice"><%= notice %></p>

<% if @event.end_time.nil? %>
  <p>
  Started clock at: <%= @event.formatted_time %>
  </p>

  <div class='stop-clock-link'>
    <%= link_to 'Stop Clock', stop_clock_path(@event.project_id) %>
  </div>

<% else %>
  <p>
  <%= @event.time_and_duration %>
  </p>

<% end %>

<%= link_to "Back to #{@event.project.name}", project_path(@event.project) %>
