<p id="notice"><%= notice %></p>

<div class='project'>
  <div class='project-title'>
    <%= link_to @project.name, edit_project_path(@project) %>
  </div>

  <% if @project.is_running? %>
    <div class='stop-clock'>
      <%= link_to "Stop the clock", stop_clock_path(id: @project.id), class: "toggle-clock" %>
    </div>
  <% else %>
    <div class='start-clock'>
      <%= link_to "Start the clock", start_clock_path(id: @project.id), class: "toggle-clock" %>
    </div>
  <% end %>

  <div class='project-events'>
  <% @project.events.each do |event| %>
    <div class="<%= event_row_class(event) %>" >
      <%= event.time_and_duration %>
    </div>
  <% end %>
  </div>


<div>

</div>

</div>

