<p id="notice"><%= notice %></p>

<div class='project'>
  Project: <%= @project.name %>
  <div class='project-events'>
  <% @project.events.each do |event| %>
    <div class='project-event'>
      <%= event.time_and_duration %>
    </div>
  <% end %>
  </div>
</div>

<div>

  <% if @project.is_running? %>
  <div class='start-clock'>
    <%= link_to "stop Clock", stop_clock_path(id: @project.id) %>
  </div>
  <% else %>
  <div class='stop-clock'>
    <%= link_to "Start Clock", start_clock_path(id: @project.id) %>
  </div>
  <% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
