<p id="notice"><%= notice %></p>

<% content_for :nav do %>
    | <%= link_to @project.name, edit_project_path(@project) %>
<% end %>

<div class='project'>

  <% if @project.is_running? %>
    <div class='stop-clock'>
      <%= link_to "Stop the clock", stop_clock_path(id: @project.id), class: "toggle-clock" %>
    </div>
  <% else %>
    <% unless Project.active_project %>
      <div class='start-clock'>
        <%= link_to "Start the clock", start_clock_path(id: @project.id), class: "toggle-clock" %>
      </div>
    <% end %>
  <% end %>

  <div class='project-events'>
    <% @project.event_summaries.each do |summary| %>
      <div>
        <%= summary.date %> <%= formatted_duration(summary.total_minutes) %>
      </div>
    <% end %>
  </div>


  <div class='project-events'>
    <% @project.recent_events.each do |event| %>
      <div class="<%= event_row_class(event) %>" >
        <%= formatted_time(event.start_time) %>
        (<%= formatted_duration(event.seconds/60) %> hours)
      </div>
    <% end %>
  </div>


<div>

</div>

</div>

